* {
  box-sizing: border-box;
  font-family:  Tahoma;
}
img {
  width: 150px;
  padding: 20px;
  
}

button {
  background-color: rgb(0, 136, 255);
  color: white;
  border-radius: 15px;
  box-shadow: 1;
}

body {
background-color:  rgb(247, 225, 192);
}



header {
  
  height: 450px;
  background-size: cover;
  background-image:
    linear-gradient(0deg,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)),
    url("img/favicon.jpg");
    box-shadow: 2em;
}


header img{
  border-radius: 5em;
  transition: 0.6s;
}

header .container {
  display: flex;
  text-align: center;
  padding: 10px 10px;
  text-shadow: 2px 3px black;
}

header h1 {
  padding-top: 30px;
  padding-bottom: 20px;
  transition: 0.6s;
}

.img {
  display: flex;
  flex-direction: row;
  justify-content: center;
 
}

header a {
  text-decoration: none;
  color: blanchedalmond;
}

.breadcrumb {
  flex-direction: column;
  margin-right: 25px;
  transition: 0.6s;
}


.breadcrumb a:hover{
  color:rgb(185, 114, 7);
}

#calendario {
  background-color: rgb(247, 225, 192);
}

#calendario .titulo{
text-align: center;
color: rgb(244, 201, 137);
text-decoration: overline;
text-transform: uppercase;
font-weight: 600;
font-size: 25px;
text-shadow: 2px 3px black;
padding-top: 55px;
text-decoration-color: rgb(242, 213, 170);
}

#calendario .container{
  
  background-color: rgb(238, 190, 117);
  margin: 0 auto;
  --primary-clr: rgb(255, 154, 3);
  position: relative;
  min-height: 850px;
  padding: 5px;
  color: #fff;
  display: flex;
  border-radius: 10px;
}

.container .right, .container .left {
 
  background-color:  rgb(238, 190, 117);
  
}



.main-container-wrapper {
  margin-top: 0;
  padding-top: 40px;
  flex-direction: column;
  
}
.main-container-wrapper h3{
  color: rgb(195, 153, 91);
}


#titulo {
  color: blanchedalmond;
  display: flex;
  text-align: center;
  align-items: center;
}

#Chisiamo {
  height: 600px;
  text-align: center;
  padding: 60px 30px;
  background-color: rgb(247, 225, 192);
 
}
#Chisiamo h3 {
  color: rgb(251, 207, 141);
  text-decoration: overline;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 25px;
  text-shadow: 2px 3px black;
  padding-bottom: 15px;
}

#accordionExample .accordion-button{
  background-color: rgb(238, 190, 117);
}

#accordionExample .accordion-item{
background-color: rgb(238, 190, 117);
}


#Chisiamo .qr{
  
  flex-direction:row ;
  display: flex;
  justify-content: center;
  padding: 55px 55px;
  }

#Chisiamo img{
width: 100px;
padding: 3px;
}


#Servizi {
  background-image:
    linear-gradient(0deg,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)),
    url("img/negro.jpg");
    color: white;
    
}

#Servizi h3{
text-align: center;
color: rgb(251, 207, 141);
text-shadow: 1px 2px rgb(162, 119, 55);
text-decoration: overline;
text-transform: uppercase;
font-weight: 600;
font-size: 25px;

padding-top: 25px;
}

#Servizi .container {
  padding: 50px;
  color: blanch;
  text-align: center;
  background-size: cover;
  
}

#Servizi .collapse{
  display: flexbox;
  
}

.carta {
  margin: 30px;
  padding: 50px;
  border-radius: 15px;
  background-size: cover;
  background-position: center center;
}

.carta:first-child {
  background-image:
    linear-gradient(0deg,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)),
    url("img/caf1.png");
}


.carta:nth-child(3) {
  background-image:
    linear-gradient(0deg,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)),
    url("img/patronato.jpg");
}

.carta:nth-child(4) {
  background-image:

    linear-gradient(0deg,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)),
    url("img/CENTRO-SERVIZI.jpg");
}
.carta:nth-child(5) {
  background-image:

    linear-gradient(0deg,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)),
    url("img/mundo.jpg");
}
.carta:nth-child(6) {
  background-image:

    linear-gradient(0deg,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)),
    url("img/trabajos.jpeg");
    
    
}
.card-card-body {
  background-color: transparent;
  color:white;
}

#Colaboratori{
  background-color: rgb(247, 225, 192);
 
}

#Colaboratori h3 {
  text-align: center;
  color: rgb(243, 197, 127);
  text-decoration: overline;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 25px;
  text-shadow: 2px 3px black;
  padding-top: 70px;
  padding-bottom: 30px;
}

#Colaboratori .container {
  display: flex;
  overflow: hidden;
  flex-wrap: wrap;
  align-items: center;
  padding-bottom: 50px;
}

#Colaboratori .card{
  margin: 0.5em;
  text-align: center;
  background-color: rgb(250, 200, 125);
}

#Colaboratori .btn-outline-danger{
  font-size: 25px;

}


.bold {
font-weight: 800;
}

#Dove  {
  text-align: center;
  background-color: rgb(247, 225, 192);
  
}

#Dove .container { 
padding: 50px;
min-height: 20vh;
border:  3px solid rgb(253, 174, 54);
border-width: 0 4px 8px 12px;
}

#Dove h3 {
  text-align: center;
  color: rgb(243, 197, 127);
  text-decoration: overline;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 25px;
  text-shadow: 2px 3px black;
}

#Dove img {
  width: 120%;
  padding: 0 35px 15px 0;
}
#Dove p {
  padding-bottom: 10px;
}

#Dove .btn-outline-warning{
  font-size: 25px;

}

#Contatti {
  display: flex;
  padding: 50px;
  text-align: center;
  background-color: rgb(247, 225, 192);
  
}

#Contatti h3{
  text-align: center;
  color: rgb(243, 197, 127);
  text-decoration: overline;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 25px;
  text-shadow: 2px 3px black;
  padding-bottom: 15px;
}

#Contatti .container{
  display: flex;
  min-height: 20vh;
}

.containercontatti li{
  background-color: rgb(243, 196, 125);
  border-radius: 10px;
  text-align: center;
  padding-bottom: 15px;
}

.list-group img {
 width: 80px ;
}

footer {
  text-align: center;
  margin: -20px;
  color: rgb(233, 233, 233);
  background-color: rgb(39, 39, 76);
}

.calendar-container {
  display: flex;
  flex-direction:row ;
  
}

@media screen and (max-width: 1000px) {
  body {
    align-items: flex-start;
    justify-content: flex-start;
  }
  header {
   height: 450px;
  }

  .container {
    min-height: 100vh;
    flex-direction: column;
    border-radius: 0;
    
  }
  #calendario .container{
    max-height:1350px;
    padding: 0 25px;
  }
  .container .left {
    width: 100%;
    height: 100%;
    padding: 20px 0;
  }
  .container .right {
    width: 100%;
    height: 100%;
    padding: 20px 0;
  }
  .calendar::before,
  .calendar::after {
    top: 100%;
    left: 50%;
    width: 97%;
    height: 12px;
    border-radius: 0 0 5px 5px;
    transform: translateX(-50%);
  }
  .calendar::before {
    width: 94%;
    top: calc(100% + 12px);
  }
  .events {
    padding-bottom: 340px;
  }
  .add-event-wrapper {
    bottom: 100px;
  }
}

@media (min-width:720px) {

header{
  height: 375px;
  background-size: cover;
  background-image:
    linear-gradient(0deg,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)),
    url("img/favicon.jpg");
}

header .container{
  flex-direction: column;
  height: 100px;
}

header .img{
  justify-content: space-between;
  border-radius: 15%;
}
header h1{
  padding-bottom: 100px;
  justify-content: center;
}


.breadcrumb{
  flex-direction: row;
  justify-content: center;
  
}

#calendario .titulo {
 padding-top: 100px;
}

#Chisiamo{
  background-position: 730px 310px ;
  padding-top: 100px;
}

#Chisiamo img{
  width: 150px;
  padding: 0 auto;
  
}

#Chisiamo .qr{
  justify-content: space-between;
 
}


#Servizi .servicios{

  justify-content: center;
}

#Colaboratori .container{
  justify-content: center;
}

#Dove img{
  width: 700px;
}

#Dove .btn-primary {
  font-size: 30px;
  
}

#Contatti .container{
  flex-direction: column;
  max-width: 500px;
}

footer{
  text-align: end;
  margin: 0;
  padding: 5px;
}

.bordes{
  margin: 0;
  padding: 0;
}

#calendario .container{
  width: 1200px;
  max-height:1350px;
}

}

@media screen and (min-width: 600px) and (max-width:1000px){
#calendario .container{
  width: 1200px;
  max-height:1150px;
}
}

@media screen and (min-width: 500px) and (max-width: 600px){
  #calendario .container{
    width: 520px;
    max-height: 1200px;
    padding: 0 15px;
  }
 
}

@media screen and (max-width: 500px) {
  .calendar .month {
    height: 75px;
  }
  .calendar .weekdays {
    height: 50px;
  }
  .calendar .days .day {
    height: 40px;
    font-size: 0.8rem;
  }
  .calendar .days .day.active,
  .calendar .days .day.today {
    font-size: 1rem;
  }
  .right .today-date {
    padding: 20px;
  }
  #calendario .container{
    width: 320px;
    max-height: 100px;
    padding: 0 15px;
  }
 
}