*
 {
  padding:0px;
  margin:0px;
  box-sizing: border-box;
  font-family:  Tahoma;
}

img 
{
  width: 120px;
  padding: 20px;
}

body 
{
background-color:  rgb(247, 225, 192);
}

header
 {
  max-height: 270px;
  background-size: cover;
  background-image:
    linear-gradient(0deg,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)),
    url("img/favicon.jpg");
    box-shadow: 2em;
}

header img
{
  
  border-radius: 5em;
  transition: 0.6s;
}

header .container 
{
  display: flex;
  text-align: center;
  padding:10px;
 
}

header h1 
{
  padding-top: 10px;
  padding-bottom: 20px;
  transition: 0.6s;
}

.img 
{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

header a 
{
  text-decoration: none;
  color: blanchedalmond;
}

#titulo {
  color: blanchedalmond;
  display: flex;
  text-align: center;
  align-items: center;
}

nav
{
  justify-content: center;
  transition: 0.6s;
  top:0;
  z-index: 10000;
  padding-left: 170px;
}

.navbar-ul{
  padding: 5px;
}


nav ul li{
  display: inline;
}

nav a{
  padding: 1px;
}

.sticky{
  position: fixed;
  top:0;
  right: 7px;
  height: 45px;
  width: 100%;
  padding: 5px 10px;
  background-color: #A1332A;
}

nav.sticky ul li a{
  color: white;
  text-shadow: none;
  font-weight: 800;
  font-size: 20px;
  
}

nav.sticky{
  padding-left: 170px;
}


header.sticky img{
top:0;
}

nav a:hover
{
  color:#fff;
  background-color:#A1332A;
  border-radius: 7px;
}

h3
{
text-align: center;
color: black;
text-decoration: overline;
text-transform: uppercase;
font-weight: 600;
font-size: 25px;
padding-top: 55px;
font-family: 'Courier New', Courier, monospace;
}

#calendario 
{
  background-color: #F6F5E8;
}


#calendario .container
{
  background-color: #A1332A;
  margin: 0 auto;
  --primary-clr:#A1332A;
  position: relative;
  max-width: 600px;
  padding: 5px;
  color: #fff;
  display: flex;
  border-radius: 10px;
}

.container .right, .container .left 
{
  background-color: #A1332A;
}

.no-event {
  display: flex;
  flex-direction:column ;
}

.no-event h3{
  color:white;
  font-weight: 600;
  text-decoration: none;
  font-family: Poppins, sans-serif;
}


#Chisiamo {
  height: auto;
  text-align: center;
  padding: 30px 30px;
  background-color: #F6F5E8;
 
}

#Chisiamo h3{
  padding-bottom: 30px;
}

#accordionExample .accordion-button{
  background-color:#A1332A;
  color:white;
}

#accordionExample .accordion-item{
background-color: #b6483f;
color:white;
}


.qr{
  display: flex;
  justify-content: center;
  padding:45px 55px;
  
  background-color: #F6F5E8;
  }

.qr img{
  width: 130px;
}


#Servizi {
 background-color: #A1332A;
    color: white;
    
}



#Servizi .container {
  padding: 50px;
  color: blanch;
  text-align: center;
  background-size: cover;

}

#Servizi .collapse{
  display: flexbox;
  
}

#Servizi .btn-primary{
  background-color: #A1332A;
  color: white;
  
}

.carta {
  margin: 30px;
  padding: 50px;
  border-radius: 15px;
  background-size: cover;
  background-position: center center;
}

.carta:first-child {
  background-image:
    linear-gradient(0deg,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)),
    url("img/cafpatronato.jpg");
}


.carta:nth-child(2) {
  background-image:
    linear-gradient(0deg,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)),
    url("img/patronato.jpg");
}

.carta:nth-child(3) {
  background-image:

    linear-gradient(0deg,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)),
    url("img/CENTRO-SERVIZI.jpg");
}
.carta:nth-child(4) {
  background-image:

    linear-gradient(0deg,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)),
    url("img/mundo.jpg");
}
.carta:nth-child(5) {
  background-image:

    linear-gradient(0deg,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)),
    url("img/trabajos.jpeg");
    
    
}
.card-card-body {
  background-color: transparent;
  color:white;
  
}

#Colaboratori{
  background-color:#F6F5E8;
 
}

#Colaboratori .card-img{
  border-radius: 30px;
}

#Colaboratori .container {
  display: flex;
  overflow: hidden;
  flex-wrap: wrap;
  align-items: center;
  padding-bottom: 50px;
}

#Colaboratori .card{
  margin: 0.5em;
  text-align: center;
  background-color: #A1332A;
  color: white;
}

#Colaboratori .btn-outline-danger{
  font-size: 25px;
  background-color: rgb(64, 13, 13)
}

#Colaboratori .card:hover{
color: white;
}

.bold {
font-weight: 800;
}

#Dove  {
  text-align: center;
  background-color:#F6F5E8;
  
}

#Dove .container { 
padding: 50px;
min-height: 20vh;
border:  3px solid  #A1332A;
border-width: 0 4px 8px 12px;
}


#Dove img {
  width: 120%;
  padding: 0 35px 15px 0;
}
#Dove p {
  padding-bottom: 10px;
}

#Dove .btn-outline-danger{
  font-size: 25px;
  
}

#Contatti {
  padding: 50px;
  text-align: center;
  background-color: #F6F5E8;
  
}

#Contatti .container{
  min-height: 20vh;
}


.containercontatti li{
  background-color: #A1332A;
  border-radius: 10px;
  text-align: center;
  color: white;
  
}

.list-group img {
 width: 80px ;
}

footer {
  text-align: center;
  margin: -16px;
  color: rgb(233, 233, 233);
  background-color:  #A1332A;
}

.calendar-container {
  display: flex;
  flex-direction:row ;
  
}

@media (min-width:720px) {

  header{
    height: 375px;
    background-size: cover;
    background-image:
      linear-gradient(0deg,
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)),
      url("img/favicon.jpg");
  }
  
  header .container{
    flex-direction: column;
    height: 100px;
  }
  
  header .img{
    justify-content: space-between;
    border-radius: 15%;
  }
  header h1{
    padding-bottom: 35px;
    justify-content: center;
  }
  
  nav{
    display: flex;
    padding-right:170px;
    
  }
  
  
  nav.sticky{
    display: flex;
    padding-right:170px;
  }
  
  #calendario .titulo {
   padding-top: 100px;
  }
  
  #Chisiamo{
    background-position: 730px 310px ;
    padding-top: 100px;
  }
  
  #Chisiamo img{
    width: 150px;
    padding: 0 auto;
    
  }
  
  .qr{
    justify-content: space-between;
  }
  
  .qr img{
    width: 150px;
    
  }

  #Colaboratori .container{
    justify-content: center;
  }
  
  #Dove img{
    width: 700px;
  }
  
  #Dove .btn-primary {
    font-size: 30px;
    
  }
  
  #Contatti .container{
    flex-direction: column;
    max-width: 500px;
  }
  
  ul.list-group{
    flex-direction: row;
  }
  
  
  footer{
    text-align: end;
    margin: 0;
    padding: 5px;
  }
  
  .bordes{
    margin: 0;
    padding: 0;
  }
  
  #calendario .container{
    
    max-height:500px;
  }
  
  }

@media screen and (max-width: 1000px) {
  body {
    align-items: flex-start;
    justify-content: flex-start;
  }

  header {
   height: 450px;
  }

  .container {
    min-height: 100vh;
    flex-direction: column;
    border-radius: 0;
    
  }
  #calendario .container{
    max-height:1350px;
    padding: 0 25px;
  }
  .container .left {
    width: 100%;
    height: 100%;
    padding: 20px 0;
  }
  .container .right {
    width: 100%;
    height: 100%;
    padding: 20px 0;
  }
  .calendar::before,
  .calendar::after {
    top: 100%;
    left: 50%;
    width: 97%;
    height: 12px;
    border-radius: 0 0 5px 5px;
    transform: translateX(-50%);
  }
  .calendar::before {
    width: 94%;
    top: calc(100% + 12px);
  }
  .events {
    padding-bottom: 340px;
  }
  .add-event-wrapper {
    bottom: 100px;
  }
}


@media screen and (min-width: 600px) and (max-width:1000px){
#calendario .container{
  width: 1200px;
  max-height:1150px;
}
}

@media screen and (min-width: 500px) and (max-width: 600px){
  #calendario .container{
    width: 520px;
    max-height: 1200px;
    padding: 0 15px;
  }
 
}

@media screen and (max-width: 500px) {
  .calendar .month {
    height: 75px;
  }
  .calendar .weekdays {
    height: 50px;
  }
  .calendar .days .day {
    height: 40px;
    font-size: 0.8rem;
  }
  .calendar .days .day.active,
  .calendar .days .day.today {
    font-size: 1rem;
  }
  .right .today-date {
    padding: 20px;
  }
  #calendario .container{
    width: 320px;
    max-height: 100px;
    padding: 0 15px;
  }
  .no-event h3{
    padding: 0px;
  }
  
  nav{
   padding: 0;
  }

  nav.sticky{
    padding: 0;
   }

}