
* {
  
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: Tahoma;
}


body {
  background-color:  #F6F5E8 !important;
  
}

img {
  width: 120px;
  padding: 20px;
}

header {
  max-height: 250px;
  background-size: cover;
  background-image:
    linear-gradient(0deg,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)),
    url("img/favicon.jpg");
  box-shadow: 2em;
}

header img {
  width: 13%;
  border-radius: 5em;
  transition: 0.6s;
}

header .container {
  display: flex;
  text-align: center;
  padding: 10px;

}

header h1 {
  display: flex;
  text-align: center;
  transition: 0.6s;
  
}

.img {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

header a {
  text-decoration: none;
  color: blanchedalmond;
}

#titulo {
  display: flex;
  color: blanchedalmond;
  display: flex;
  text-align: center;
  align-items: center;
  margin-top: -10%;
  font-size: 4em;
}


#titulo2 {
  display: flex;
  color: blanchedalmond;
  display: flex;
  text-align: center;
  align-items: center;
  margin-top: -40px;
}

nav {
  justify-content: center;
  transition: 0.6s;
  top: 0;
  z-index: 10000;
  padding-left: 170px;
}

.navbar-ul {
  padding: 1px;
}

nav ul li {
  display: inline;
  text-decoration: none;
}

nav a {
  padding: 4px;
  font-size: 1.5em;
  text-decoration: none;
}

.sticky {
  position: fixed;
  top: 0;
  right: 7px;
  height: 45px;
  width: 100%;
  padding: 5px 10px;
  background-color: #A1332A;
}

nav.sticky ul li a {
  color: white;
  text-shadow: none;
  font-weight: 800;
  font-size: 20px;

}

nav.sticky {
  padding-left: 170px;
}


header.sticky img {
  top: 0;
}

nav a:hover {
  color: #fff;
  background-color: #A1332A;
  border-radius: 7px;
  text-decoration: none;;
}

.slider {
  width: 100vw;
  height: auto;
  margin: auto;
  overflow: hidden;
}

.slider .slide-track {
  display: flex;
  animation: scroll 40s linear infinite;
  -webkit-animation: scroll 40s linear infinite;
  width: calc(200px * 14);
}

.slider .slide {
  width: 200px;
}

.slider .slide img {
  width: 110%;
  
}

.slider .slide .chiquitos{
width: 115%;
}

@keyframes scroll {
  0% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
  }
  100% {
      -webkit-transform: translateX(calc(-200px * 3.5));
      transform: translateX(calc(-200px * 3.5));
  }
}

h3 {
  text-align: center;
  color: black;
  text-decoration: overline;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 25px;
  padding-top: 55px;
  font-family: 'Courier New', Courier, monospace;
}

/* #calendario {
  background-color: #F6F5E8;
  display: flex;
  justify-content: space-around;
}

#calendario .container {
  background-color: #A1332A;
  margin: 100px;
  --primary-clr: #A1332A;
  position: relative;
  max-width: 600px;
  max-height: auto;
  padding: 5px;
  color: #fff;
  display: flex;
  border-radius: 10px;
}

.container .right,
.container .left {
  background-color: #A1332A;
}

.no-event {
  display: flex;
  flex-direction: column;
}

.no-event h3 {
  color: white;
  font-weight: 600;
  text-decoration: none;
  font-family: Poppins, sans-serif;
} */


#Chisiamo {
  width: 100%;
  text-align: center;
  padding-bottom: 25%;
  background-color: #F6F5E8;
  margin-bottom:-20%;
  
}



#Chisiamo h3 {
  padding-bottom: 30px;
}

#accordionExample .accordion-button {
  background-color: #A1332A;
  color: white;
}

#accordionExample .accordion-item {
  background-color: #b6483f;
  color: white;
}



.card-card-body {
  background-color: transparent;
  color: white;

}


/* #carrusel {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 60vh;
  max-width: 100%;
  background: linear-gradient(135deg, #1c1c1c, #3a3a3a);
  margin-bottom: 50px;
}

.wrapper{
  max-width: 1700px;
  position: relative;
}

.wrapper h3{
  color:  #F6F5E8;
  margin-bottom:70px;
  font-size: 2em;
}

.wrapper i {
  top: 50%;
  height: 46px;
  width: 46px;
  cursor: pointer;
  position: absolute;
  font-size: 1.2rem;
  text-align: center;
  line-height: 2.5;
  background: #FFF;
  border-radius: 50%;
  transform: translateY(-50%);
  z-index: 1;
}


.wrapper i:first-child {
left: -27px;
display: none;
} 

.wrapper i:last-child {
  right:  -26px;
} 


.wrapper .carousel {
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  scroll-behavior: smooth;
}

.carousel .dragging{
  cursor: grab;
  scroll-behavior: auto;
  }
.carousel .dragging img{
  pointer-events: none;
  }

.carousel img {
  height: 340px;
  object-fit: cover;
  width: calc(100%/4.5);
  margin-left: 30px;
}

.carousel img:first-child{
  margin-left: px;
} */

#Servizi {
  background-color: #F6F5E8;
  
}

#Servizi .card-img {
  border-radius: 2em;
  min-height: 350px;
  max-height: 350px;
}

#Servizi .container {
  max-width: 100% !important;
  display: flex;
  overflow: hidden;
  flex-wrap: wrap;
  padding-bottom: 50px;
  
}

#Servizi .card {
  width: 354px;
  margin: 0.5em;
  text-align: center;
  background-color: #F6F5E8;
  color: black;
  border-radius: 0.7em;
  border-color: #F6F5E8;
}

#Servizi .card-body {
  display: flex;
  flex-direction: column;
  height: 180px;
}

#Servizi .card-container {
  align-items: flex-end;
}

#Servizi .card h5 {
  font-size: 2.5em;
  
}

#Servizi .card-text {
  min-height: 50%;
  /* border:2px solid lime */
}

#Servizi .btn-outline-danger {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  height:45px;
  width: 150px;
  font-size: 20px;
  color: #fb8b;
  background-color: rgb(153, 37, 37);
}


#Servizi .btn-primary {
  position: absolute;
  bottom: 10px;
  left: 85%;
  transform: translateX(-50%);
  font-size: 1.5em;
  box-shadow: none;
  width: 80px;
  height: 65px;
}

#Servizi .btn-primary:hover,
#slider .btn-primary:hover
 {

  color: #d31c0c;
  border-color: red;
  background-color: white;
}

#Servizi .btn-outline-danger:hover {
  color: white;
}

#Servizi .card:hover {
  border-color: #A1332A;
  border-width: 4px;
}

.bold {
  font-weight: 800;
}

#Dove {
  text-align: center;
  background-color: #F6F5E8;

}

#Dove .container {
  padding: 50px;
  min-height: 20vh;
  border: 3px solid #A1332A;
  border-width: 0 4px 8px 12px;
}


#Dove img {
  width: 120%;
  padding: 0 35px 15px 0;
}

#Dove p {
  padding-bottom: 10px;
}

#Dove .btn-outline-danger {
  font-size: 25px;

}

#Collaborazioni {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 70vh;
  max-width: 100%;
  background: linear-gradient(135deg, #1c1c1c, #3a3a3a);
  animation: gradientGlow 8s ease infinite alternate;
  box-shadow: inset 0 0 60px rgba(255, 255, 255, 0.05);
  padding: 20px;
  overflow: hidden;
  margin-bottom: 50px;

}

@keyframes gradientGlow {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}


.tituloCollaborazioni {
color:  #F6F5E8;
margin-bottom: -80px;
font-size: 2em;
}

.custom-carousel {
  display: flex;
  gap: 20px;
  flex-wrap: nowrap;
  overflow-x: auto;
  scroll-behavior: smooth;
}

.custom-carousel .item {
  left: -35px;
  background-size: cover;
  background-position: center;
  border-radius: 20px;
  transition: transform 0.4s ease, box-shadow 0.4s ease, opacity 0.4s ease;
  position: relative;
  height: 350px;
  width: 380px;
  display: flex;
  align-items: flex-end;
  justify-content: center; /* Centrado horizontal */
  color: white;
  flex-shrink: 0;
  
}

.custom-carousel .item.active {
  transform: scale(1.05);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
}

.custom-carousel:hover .item {
  opacity: 0.4;
  transform: scale(0.95);
  filter: blur(1px);
}

.custom-carousel .item:hover {
  transform: scale(1.1);
  opacity: 1 !important;
  filter: none !important;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.item-desc {
  /* background: rgba(0, 0, 0, 0.6); */
  padding: 15px;
  border-radius: 10px;
  width: 100%;
  text-align: center; /* Centrar texto */
}

.item-desc h3 {
  margin: 0;
  font-size: 1.5rem;
}

.item-desc p {
  margin: 5px 0 0;
  font-size: 0.95rem;
}

.custom-dots {
  text-align: center;
  margin-top: -150px;
  margin-bottom: 150px;
}

.custom-dots .dot {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin: 5px;
  padding: 7px;
  background: #ccc;
  border-radius: 50%;
  cursor: pointer;
  transition: background 0.3s;
}

.custom-dots .dot.active {
  background: #A1332A;
}

/* Ajustes de diseño responsivo */
@media (max-width: 1024px) {

  #Collaborazioni {
    min-height: 40vh;
    padding-bottom: 0;
  }

  .custom-carousel .item {
    height: 200px;
    width: 200px;
  }

  .item-desc h3 {
    font-size: 1.2rem;
  }

  .item-desc p {
    font-size: 0.9rem;
  }
}



#Contatti {
  padding: 50px;
  background-color: #F6F5E8;
}

#Contatti .container {
  min-height: 20vh;
  
}


.containercontatti li {
  background-color: #A1332A;
  border-radius: px;
  text-align: center;
  color: white;
}

.list-group {
  display: flex;

}

.list-group img {
  width: 35%;
}

.list-group-item {
  margin: 10px;
  width: 35%;
  font-size: 22px;
  display: inline-block;
}

footer {
  text-align: center;
  margin: -16px;
  color: rgb(233, 233, 233);
  background-color: #A1332A;
}

.calendar-container {
  display: flex;
  flex-direction: row;

}

/* Estilos específicos para la sección #info730 */
#Documenti {
  font-family: Arial, sans-serif;
  color: #333;
  background-color:  #eeeddb;
  line-height: 1.6;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  margin: 20px auto;
}


/* Titulares dentro de #730 */
#Documenti h3 {
  color: #0056b3;
  font-size: 24px;
  border-bottom: 2px solid #0056b3;
  padding-bottom: 5px;
}

#Documenti h4 {
  color: #007bff;
  font-size: 20px;
  margin-top: 20px;
}

#Documenti h5 {
  color: #28a745;
  font-size: 18px;
  margin-top: 15px;
}

/* Párrafos dentro de #730 */
#Documenti p {
  font-size: 16px;
  margin-bottom: 15px;
}

/* Listas dentro de #730 */
#Documenti ul {
  padding-left: 20px;
}

#Documenti ul li {
  margin-bottom: 8px;
}

/* Destacar secciones importantes dentro de #730 */
#Documenti strong {
  color: #d9534f;
}

/* Responsive solo para #730 */
@media (max-width: 768px) {
  #Documenti {
    padding: 15px;
  }

  #Documenti h3 {
    font-size: 22px;
  }

  #Documenti h4 {
    font-size: 18px;
  }

  #Documenti h5 {
    font-size: 16px;
  }

  #Documenti p {
    font-size: 14px;
  }
}

#Successioni {
  font-family: Arial, sans-serif;
  color: #333;
  padding: 20px;
  border-radius: 8px;
  background-color:  #eeeddb;
  text-align: left; /* Centra el texto dentro del contenedor */
  margin: 20px auto; /* Centra el contenedor en la página */
  max-width: 800px; /* Máxima anchura para que el contenido no se estire demasiado */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
  border: 1px solid #ddd; /* Borde suave para imitar una hoja */
}

#Successioni h1, #Successioni h2 {
  color: #0066cc;
  font-size: 1.8rem;
  margin-bottom: 15px;
  text-align: center;
}

#Successioni p {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 15px;
}

#Successioni ul, #Successioni ol {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}

#Successioni li {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 8px;
}

#Successioni ul li {
  list-style-type: disc;
}

#Successioni ol li {
  list-style-type: decimal;
}

@media screen and (max-width: 768px) {
  #Successioni {
      padding: 15px;
  }

  #Successioni h1, #Successioni h2 {
      font-size: 1.5rem;
  }

  #Successioni p, #Successioni li {
      font-size: 0.95rem;
  }
}



#ENEA {
  font-family: Arial, sans-serif;
  color: #333;
  padding: 20px;
  background-color:  #eeeddb;
  border-radius: 8px;
  margin: 20px auto; /* Centrar el contenedor */
  max-width: 900px; /* Ajuste para mejor lectura */
  text-align: left; /* Texto alineado a la izquierda */
  bottom: 100px;
  /* Efecto de sombra */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
  border: 1px solid #ddd;
}

#ENEA h1, #ENEA h2, #ENEA h3 {
  color: #0066cc;
  font-size: 1.8rem;
  margin-bottom: 15px;
  text-align: center; /* Centra solo los títulos */
}

#ENEA h3 {
  font-size: 1.4rem;
  margin-top: 20px;
  text-align: left;
}

#ENEA p {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 15px;
}

#ENEA ul, #ENEA ol {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}

#ENEA li {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 8px;
}

#ENEA ul li {
  list-style-type: disc;
}

#ENEA ol li {
  list-style-type: decimal;
}

@media screen and (max-width: 768px) {
  #ENEA {
      padding: 15px;
  }

  #ENEA h1, #ENEA h2, #ENEA h3 {
      font-size: 1.5rem;
  }

  #ENEA p, #ENEA li {
      font-size: 0.95rem;
  }

  .btn-outline-danger {
    visibility: visible;
  }
}

#magodioz {
  font-family: Arial, sans-serif;
  color: #333;
  padding: 20px;
  border-radius: 8px;
  background-color:  #eeeddb;
  text-align: left; /* Centra el texto dentro del contenedor */
  margin: 20px auto; /* Centra el contenedor en la página */
  max-width: 800px; /* Máxima anchura para que el contenido no se estire demasiado */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
  border: 1px solid #ddd; /* Borde suave para imitar una hoja */
}

#magodioz h1, #magodioz h2 {
  color: #0066cc;
  font-size: 1.8rem;
  margin-bottom: 15px;
  text-align: center;
}

#magodioz h2 {
  text-align: left;
  margin-left: 50px;
}

#magodioz p {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 15px;
}

#magodioz ul, #magodioz ol {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}

#magodioz li {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 8px;
}

#magodioz ul li {
  list-style-type: disc;
}

#magodioz ol li {
  list-style-type: decimal;
}

@media screen and (max-width: 768px) {
  #magodioz {
      padding: 15px;
  }

  #magodioz h1, #magodioz h2 {
      font-size: 1.5rem;
  }

  #magodioz p, #magodioz li {
      font-size: 0.95rem;
  }
}


#isee {
  font-family: Arial, sans-serif;
  color: #333;
  padding: 20px;
  border-radius: 8px;
  background-color:  #eeeddb;
  text-align: left; /* Centra el texto dentro del contenedor */
  margin: 20px auto; /* Centra el contenedor en la página */
  max-width: 800px; /* Máxima anchura para que el contenido no se estire demasiado */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
  border: 1px solid #ddd; /* Borde suave para imitar una hoja */
}

#isee h1, #isee h2 {
  color: #0066cc;
  font-size: 1.8rem;
  margin-bottom: 15px;
  text-align: center;
}

#isee h2 {
  text-align: left;
  margin-left: 50px;
}

#isee p {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 15px;
}

#isee ul, #isee ol {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}

#isee li {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 8px;
}

#isee ul li {
  list-style-type: disc;
}

#isee ol li {
  list-style-type: decimal;
}

@media screen and (max-width: 768px) {
  #isee {
      padding: 15px;
  }

  #isee h1, #isee h2 {
      font-size: 1.5rem;
  }

  #isee p, #isee li {
      font-size: 0.95rem;
  }
}

#naspi {
  font-family: Arial, sans-serif;
  color: #333;
  padding: 20px;
  border-radius: 8px;
  background-color:  #eeeddb;
  text-align: left; /* Centra el texto dentro del contenedor */
  margin: 20px auto; /* Centra el contenedor en la página */
  max-width: 800px; /* Máxima anchura para que el contenido no se estire demasiado */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
  border: 1px solid #ddd; /* Borde suave para imitar una hoja */
}

#naspi h1, #naspi h2 {
  color: #0066cc;
  font-size: 1.8rem;
  margin-bottom: 15px;
  text-align: center;
}

#naspi h2 {
  text-align: left;
  margin-left: 50px;
}

#naspi p {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 15px;
}

#naspi ul, #naspi ol {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}

#naspi li {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 8px;
}

#naspi ul li {
  list-style-type: disc;
}

#naspi ol li {
  list-style-type: decimal;
}

@media screen and (max-width: 768px) {
  #naspi {
      padding: 15px;
  }

  #naspi h1, #naspi h2 {
      font-size: 1.5rem;
  }

  #naspi p, #naspi li {
      font-size: 0.95rem;
  }
}

#invalidita {
  font-family: Arial, sans-serif;
  color: #333;
  padding: 20px;
  border-radius: 8px;
  background-color:  #eeeddb;
  text-align: left; /* Centra el texto dentro del contenedor */
  margin: 20px auto; /* Centra el contenedor en la página */
  max-width: 800px; /* Máxima anchura para que el contenido no se estire demasiado */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
  border: 1px solid #ddd; /* Borde suave para imitar una hoja */
}

#invalidita h1, #invalidita h2 {
  color: #0066cc;
  font-size: 1.8rem;
  margin-bottom: 15px;
  text-align: center;
}

#invalidita h2 {
  text-align: left;
  margin-left: 50px;
}

#invalidita p {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 15px;
}

#invalidita ul, #invalidita ol {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}

#invalidita li {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 8px;
}

#invalidita ul li {
  list-style-type: disc;
}

#invalidita ol li {
  list-style-type: decimal;
}

@media screen and (max-width: 768px) {
  #invalidita {
      padding: 15px;
  }

  #invalidita h1, #invalidita h2 {
      font-size: 1.5rem;
  }

  #invalidita p, #invalidita li {
      font-size: 0.95rem;
  }
}

#maternita {
  font-family: Arial, sans-serif;
  color: #333;
  padding: 20px;
  border-radius: 8px;
  background-color:  #eeeddb;
  text-align: left; /* Centra el texto dentro del contenedor */
  margin: 20px auto; /* Centra el contenedor en la página */
  max-width: 800px; /* Máxima anchura para que el contenido no se estire demasiado */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
  border: 1px solid #ddd; /* Borde suave para imitar una hoja */
}

#maternita h1, #maternita h2 {
  color: #0066cc;
  font-size: 1.8rem;
  margin-bottom: 15px;
  text-align: center;
}

#maternita h2 {
  text-align: left;
  margin-left: 50px;
}

#maternita p {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 15px;
}

#maternita ul, #maternita ol {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}

#maternita li {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 8px;
}

#maternita ul li {
  list-style-type: disc;
}

#maternita ol li {
  list-style-type: decimal;
}

@media screen and (max-width: 768px) {
  #maternita {
      padding: 15px;
  }

  #maternita h1, #maternita h2 {
      font-size: 1.5rem;
  }

  #maternita p, #maternita li {
      font-size: 0.95rem;
  }
}

#nido {
  font-family: Arial, sans-serif;
  color: #333;
  padding: 20px;
  border-radius: 8px;
  background-color:  #eeeddb;
  text-align: left; /* Centra el texto dentro del contenedor */
  margin: 20px auto; /* Centra el contenedor en la página */
  max-width: 800px; /* Máxima anchura para que el contenido no se estire demasiado */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
  border: 1px solid #ddd; /* Borde suave para imitar una hoja */
}

#nido h1, #nido h2 {
  color: #0066cc;
  font-size: 1.8rem;
  margin-bottom: 15px;
  text-align: center;
}

#nido h2 {
  text-align: left;
  margin-left: 50px;
}

#nido p {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 15px;
}

#nido ul, #nido ol {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}

#nido li {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 8px;
}

#nido ul li {
  list-style-type: disc;
}

#nido ol li {
  list-style-type: decimal;
}

@media screen and (max-width: 768px) {
  #nido {
      padding: 15px;
  }

  #nido h1, #nido h2 {
      font-size: 1.5rem;
  }

  #nido p, #nido li {
      font-size: 0.95rem;
  }
}

#CeB {
  font-family: Arial, sans-serif;
  color: #333;
  padding: 20px;
  border-radius: 8px;
  background-color:  #eeeddb;
  text-align: left; /* Centra el texto dentro del contenedor */
  margin: 20px auto; /* Centra el contenedor en la página */
  max-width: 800px; /* Máxima anchura para que el contenido no se estire demasiado */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
  border: 1px solid #ddd; /* Borde suave para imitar una hoja */
}

#CeB h1, #CeB h2 {
  color: #0066cc;
  font-size: 1.8rem;
  margin-bottom: 15px;
  text-align: center;
}

#CeB h2 {
  text-align: left;
  margin-left: 50px;
}

#CeB p {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 15px;
}

#CeB ul, #CeB ol {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}

#CeB li {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 8px;
}

#CeB ul li {
  list-style-type: disc;
}

#CeB ol li {
  list-style-type: decimal;
}

@media screen and (max-width: 768px) {
  #CeB {
      padding: 15px;
  }

  #CeB h1, #CeB h2 {
      font-size: 1.5rem;
  }

  #CeB p, #CeB li {
      font-size: 0.95rem;
  }
}

#commercialista {
  font-family: Arial, sans-serif;
  color: #333;
  padding: 20px;
  border-radius: 8px;
  background-color:  #eeeddb;
  text-align: left; /* Centra el texto dentro del contenedor */
  margin: 20px auto; /* Centra el contenedor en la página */
  max-width: 800px; /* Máxima anchura para que el contenido no se estire demasiado */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
  border: 1px solid #ddd; /* Borde suave para imitar una hoja */
}

#commercialista h1, #commercialista h2 {
  color: #0066cc;
  font-size: 1.8rem;
  margin-bottom: 15px;
  text-align: center;
}

#commercialista h2 {
  text-align: left;
  margin-left: 50px;
}

#commercialista p {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 15px;
}

#commercialista ul, #commercialista ol {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}

#commercialista li {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 8px;
}

#commercialista ul li {
  list-style-type: disc;
}

#commercialista ol li {
  list-style-type: decimal;
}

@media screen and (max-width: 768px) {
  #commercialista {
      padding: 15px;
  }

  #commercialista h1, #commercialista h2 {
      font-size: 1.5rem;
  }

  #commercialista p, #commercialista li {
      font-size: 0.95rem;
  }
}

#allianz {
  font-family: Arial, sans-serif;
  color: #333;
  padding: 20px;
  border-radius: 8px;
  background-color:  #eeeddb;
  text-align: left; /* Centra el texto dentro del contenedor */
  margin: 20px auto; /* Centra el contenedor en la página */
  max-width: 800px; /* Máxima anchura para que el contenido no se estire demasiado */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
  border: 1px solid #ddd; /* Borde suave para imitar una hoja */
}

#allianz h1, #allianz h2 {
  color: #0066cc;
  font-size: 1.8rem;
  margin-bottom: 15px;
  text-align: center;
}

#allianz h2 {
  text-align: left;
  margin-left: 50px;
}

#allianz p {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 15px;
}

#allianz ul, #allianz ol {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}

#allianz li {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 8px;
}

#allianz ul li {
  list-style-type: disc;
}

#allianz ol li {
  list-style-type: decimal;
}

@media screen and (max-width: 768px) {
  #allianz {
      padding: 15px;
  }

  #allianz h1, #allianz h2 {
      font-size: 1.5rem;
  }

  #allianz p, #allianz li {
      font-size: 0.95rem;
  }
}

#open {
  font-family: Arial, sans-serif;
  color: #333;
  padding: 20px;
  border-radius: 8px;
  background-color:  #eeeddb;
  text-align: left; /* Centra el texto dentro del contenedor */
  margin: 20px auto; /* Centra el contenedor en la página */
  max-width: 800px; /* Máxima anchura para que el contenido no se estire demasiado */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
  border: 1px solid #ddd; /* Borde suave para imitar una hoja */
}

#open h1, #open h2 {
  color: #0066cc;
  font-size: 1.8rem;
  margin-bottom: 15px;
  text-align: center;
}

#open h2 {
  text-align: left;
  margin-left: 50px;
}

#open p {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 15px;
}

#open ul, #open ol {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}

#open li {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 8px;
}

#open ul li {
  list-style-type: disc;
}

#open ol li {
  list-style-type: decimal;
}

@media screen and (max-width: 768px) {
  #open {
      padding: 15px;
  }

  #open h1, #open h2 {
      font-size: 1.5rem;
  }

  #open p, #open li {
      font-size: 0.95rem;
  }
}



@media (min-width:720px) {

  header {
    height: 375px;
    background-size: cover;
    background-image:
      linear-gradient(0deg,
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)),
      url("img/favicon.jpg");
  }


  header .container {
    flex-direction: column;
    height: 100px;
  }

  header .img {
    justify-content: space-between;
    border-radius: 15%;
  }

  header h1 {
    padding-bottom: 35px;
    justify-content: center;
  }

  nav {
    display: flex;
    padding-right: 170px;

  }


  nav.sticky {
    display: flex;
    padding-right: 170px;
  }

  #calendario .titulo {
    padding-top: 100px;
  }

  #Chisiamo {
    background-position: 730px 310px;
    padding-top: 100px;
  }

  #Chisiamo img {
    width: 150px;
    padding: 0 auto;

  }

  .qr {
    justify-content: space-between;
  }

  .qr img {
    width: 150px;

  }

  #Servizi .container {
    justify-content: center;
  }

  #Dove img {
    width: 700px;
  }

  #Dove .btn-primary {
    font-size: 30px;

  }

  #Contatti .container {
    flex-direction: column;
    max-width: auto;
  }

  ul.list-group {
    flex-direction: row;
  }


  footer {
    text-align: end;
    margin: 0;
    padding: 5px;
  }

  .bordes {
    margin: 0;
    padding: 0;
  }

  #calendario .container {
    max-height: 500px;
  }
}

@media screen and (max-width: 481px) {

  header img{
    width: 25%;
  }

  #titulo{
    font-size: 3em;
    padding-top: 15px;
  }

  #titulo2{
    font-size: 2em;
    padding-top: 30px;
    padding-left:20%;
  }

  .navbar-ul{
    padding-top: 30px;
  }

  nav.sticky ul {
    margin-top: -5.5%;
    color: black;
  }


  #container-slider .arrowPrev,
  #container-slider .arrowNext {
    font-size: 20pt;
  }

  #container-slider .arrowPrev {
    left: 15px;
  }

  #container-slider .arrowNext {
    right: 15px !important;
  }

  #slider {
    height: 400px;
    min-height: 500px;
  }

  .btnSlider {
    padding: 10px 30px;
    font-size: 10pt;
  }

  #slider .slidertext {
    background-color: transparent;
  }

  #slider .slidertext p {
    visibility: hidden;
    background-color: transparent;
  }

  #slider .slidertext h6 {
    padding: 0;
    margin: 0;
    font-size: 1.75em;
    background-color: #A1332A;
  }

  #Servizi .card-img {
    min-height: 300px;
  }

  #Servizi .card {
    height: 440px;
  }

  #Servizi .card-text {
    visibility: hidden;
  }


  #Collaborazioni .item {
   top: 90px;
  }
}

@media screen and (max-width: 1000px) {
  body {
    align-items: flex-start;
    justify-content: flex-start;
  }

  header {
    min-height: 350px;
  }

  .container {
    min-height: 100vh;
    flex-direction: column;
    border-radius: 0;

  }

  #calendario .container {
    max-height: 1350px;
    padding: 0 25px;
  }

  .container .left {
    width: 100%;
    height: 100%;
    padding: 20px 0;
  }

  .container .right {
    width: 100%;
    height: 100%;
    padding: 20px 0;
  }

  .calendar::before,
  .calendar::after {
    top: 100%;
    left: 50%;
    width: 97%;
    height: 12px;
    border-radius: 0 0 5px 5px;
    transform: translateX(-50%);
  }

  .calendar::before {
    width: 94%;
    top: calc(100% + 12px);
  }

  .events {
    padding-bottom: 340px;
  }

  .add-event-wrapper {
    bottom: 100px;
  }

  .carousel img {
   width: calc(100%/2);
  }


}


@media screen and (min-width: 600px) and (max-width:1000px) {
  #calendario .container {
    width: 1200px;
    max-height: 1150px;
  }
}

@media screen and (min-width: 500px) and (max-width: 600px) {
  #calendario .container {
    width: 520px;
    max-height: 1200px;
    padding: 0 15px;
  }

}

@media screen and (max-width: 500px) {

  

  .calendar .month {
    height: 75px;
  }

  .calendar .weekdays {
    height: 50px;
  }

  .calendar .days .day {
    height: 40px;
    font-size: 0.8rem;
  }

  .calendar .days .day.active,
  .calendar .days .day.today {
    font-size: 1rem;
  }

  .right .today-date {
    padding: 20px;
  }

  #calendario {
    flex-direction: column;
    align-items: center;
    max-height: auto;

  }

  #calendario .container {
    width: 350px;
    padding: 0 15px;

  }



  .add-event-wrapper {
    max-height: auto;
  }

  .no-event h3 {
    padding: 50px 10px 0 10px;
  }

  #Chisiamo {
    margin: -100px 0 10px 0;
    width: 90%;
    height: auto;
  }

  nav {
    padding: 0;
  }

  nav.sticky {
    padding: 0;

  }

  .sticky {
    height: 65px;
  }

  .list-group,
  .list-group-item {
    width: 100%;
    font-size: 15px;
  }

 .carousel img {
   width: 100%;
  }

}